<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言版</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script>
        window.onload = function () {
            new Vue({
                el: '#box',
                data: {
                    myData: [],
                    username: '',
                    age: '',
                    nowIndex: -100,
                    flag: false
                },
                methods: {
                    add: function () {
                        if (this.username && this.age) {
                            this.myData.push({
                                name: this.username,
                                age: this.age
                            });
                        } else {
                            alert('信息不能为空')
                        }
                        this.username = '';
                        this.age = '';
                    },
                    deleteData: function (n) {
                        if (n === -2) {
                            this.myData = [];
                        } else {
                            this.myData.splice(n, 1);
                        }
                    }
                }
            })
        }
    </script>
</head>
<body>
<div class="container" id="box">
    <form role="form">
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" id="username" class="form-control" v-model="username"/>
        </div>
        <div class="form-group">
            <label for="age">年龄</label>
            <input type="text" id="age" class="form-control" v-model="age"/>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary btn-sm" value="添加" @click="add()"/>
            <input type="reset" class="btn btn-danger btn-sm" value="重置"/>
        </div>
    </form>
    <hr>
    <table class="table table-bordered table-hover">
        <caption class=" h4 text-center text-info">
            用户信息表
        </caption>
        <tr>
            <th class="text-center">序号</th>
            <th class="text-center">姓名</th>
            <th class="text-center">年龄</th>
            <th class="text-center">操作</th>
        </tr>
        <tr v-for="(item,index) in myData">
            <td class="text-center">{{index+1}}</td>
            <td class="text-center">{{item.name}}</td>
            <td class="text-center">{{item.age}}</td>
            <td class="text-center">
                <!--按照索引删除没实现-->
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#layer"
                        @click="nowIndex=index,flag=false">删除
                </button>
            </td>
        </tr>
        <tr v-show="myData.length!=0">
            <td colspan="4" class="text-right">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#layer"
                        @click="nowIndex=-2,flag=true">全部删除
                </button>
            </td>
        </tr>
        <tr v-show="myData.length===0">
            <td colspan="4" class="text-center text-muted">
                <p>暂无数据......</p>
            </td>
        </tr>
    </table>

    <!--模态框 弹出框-->
    <!--将弹出框的大小没改-->
    <div role="dialog" class="modal fade" id="layer">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">确定要<span v-show="flag">全部</span>删除吗？</h4>
            </div>
            <div class="modal-body text-right">
                <button data-dismiss="modal" class="btn btn-success btn-sm">取消</button>
                <button data-dismiss="modal" class="btn btn-primary btn-sm" @click="deleteData(nowIndex)">确定</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>